{% extends "base.html" %}

{% block body %}
<div id="full-desc">
<div class="title">
<h1 id="data-title">Deputy Manager, Nursing Home, Sittingbourne</h1></div>
<div class="data-company" id="data-company">
            <p>Company Name : UKStaffsearch</p>
        </div>

<div class="data-article" id="data-content">
<p> 
Company: UKStaffsearch
Description: Deputy Manager, Nursing Home, Sittingbourne White Recruitment is currently looking for a mature and responsible Registered Nurse (RGN) with a naturally caring nature to take the role of Deputy Manager for a large sized nursing home in Sittingbourne. As well as good care quality reports, the home boasts a comforting and caring atmosphere for the elderly and mentally infirm patients that it accommodates. My client is one of the leading companies in this provision of patient orientated care and they are looking for outstanding clinicians to join their ever expanding organisation Your role will include: 23 hours/week </p></div>

 <div class="data-salary" id="data-salary">
            <p>Salary : $70,000 - $89,999</p>
        </div>
</div>
{% endblock %}
