{% extends "base.html" %}

{% block body %}
<div id="full-desc">
<div class="title">
<h1 id="data-title">Home Support Worker</h1></div>
<div class="data-company" id="data-company">
<p>Company Name: </p></div>
<div class="data-article" id="data-content">
<p>Job Description:   We are looking for a friendly, energetic and dedicated Home Support Worker to offer support/personal care to a young man with disabilities. Trust, friendship, respect, understanding &amp; compatibility are critical to the relationship between Support Worker &amp; client. Your role is to facilitate the person to lead life in the way they want to, to enjoy independence, spontaneity and freedom of choice. Competitive hourly rate, plus mileage and benefits. Paid holidays and training provided (including NVQ qualifications). Early mornings, evenings and weekends, parttime. Car owner / driver essential. Must have excellent spoken and written English. T o apply please call Bluebird Care on: 0293743034 </p></div>
<div class="data-salary" id="data-salary">
<p>Salary: $30.80 p/hr + travel reimbursement + 10.5% super</p></div>
</div>
{% endblock %}


