{% extends "base.html" %}

{% block body %}
<div id="full-desc">
<div class="title">
<h1 id="data-title">Telesales Operator Sales Negotiator</h1></div>
<div class="data-company" id="data-company">
<p>Company Name: CVbrowser</p></div>
<div class="data-article" id="data-content">
<p>Job Description:   Our client, a profitable estate agent is looking to recruit telesales negotiators with excellent communication skills to join their team. 

A prime candidate will possess previous sales negotiating and customer service experience with an estate agency.

Candidate must be able to adopt a flexible working attitude to working hours as evening and weekend working will be required. 

Full training is given with induction. In return you will earn a competitive basic salary with a fantastic bonus structure.  </p></div>
<div class="data-salary" id="data-salary">
<p>Salary: 52K + super</p></div>
</div>
{% endblock %}


