{% extends "base.html" %}

{% block body %}
<div id="full-desc">
<div class="title">
<h1 id="data-title">Business Performance Manager</h1></div>
    <div class="data-company" id="data-company">
<p>Company Name: Hartland Recruitment Advertising Limited</p></div>
<div class="data-article" id="data-content">
<p>
    Job Description:  Business Performance Manager near Chertsey. Excellent opportunity to work for a major FMCG brand.
    As Business Performance Manager you will report directly into the Finance Director and work closely with the Divisional Managing Director.<br><br>


    You will have full responsibility for the analysis and reporting of operational, financial and KPI data for the business unit working closely with key stakeholders and internal customers.<br><br>


    The role includes but is not limited to: Take ownership of the analysis of MI information and dealing with queries as they arise Product. <br>
</p></div><div class="data-salary" id="data-salary">
<p>Salary: OTE $150K, with an attractive $15K NFP tax benefit </p></div>
</div>
{% endblock %}


