{% extends "base.html" %}

{% block body %}
<div id="full-desc">
<div class="title">
  <h1 id="data-title">Treasury Assistant Manager</h1>
</div>
  <div class="data-company" id="data-company">
    <p>Company Name: Communicate</p>
  </div>
<div class="data-article" id="data-content">
  <p>
    An excellent opportunity has arisen for a treasury professional to join a strong treasury function as a senior Treasury Analyst. <br><br>

    The main responsibilities of the role are : <br>
    • Group FX exposure management<br>
    • Treasury controls, procedures and documentation<br>
    • Global cash management<br>
    • Treasury month end accounting.<br>
    • Group cash forecasting<br>
    • Further development of Treasury management system<br>
    • FX dealing<br>
    • Group mandates and bank account management<br>
    • Administration of online banking platforms for HO companies<br>
    • Management of intercompany loans. <br>
    • Intercompany netting<br>
    • Bonds and guarantees<br><br>

    The prefect candidate will be motivated, personable and studying for a professional qualification or already qualified.<br>
  </p>
</div>

  <div class="data-salary" id="data-salary">
<p>Salary: VPS6.1 $127,467 - $149,024 </p>
  </div>
  </div>
{% endblock %}
