{% extends "base.html" %}

{% block body %}
<div id="main">
    <div id="content">
        <div id="category">
            <h2><span>Sales</span></h2>
            <div>
                <h3><a id="link-1" href="#"> </a></h3>
                <p id="data-embed-1"> </p>
            </div>

            <div>
                <h3><a id="link-2" href="#"> </a></h3>
                <p id="data-embed-2"> </p>
            </div>

            <div>
                <h3><a id="link-3" href="#"> </a></h3>
                <p id="data-embed-3"> </p>
            </div>

            <div>
                <h3><a id="link-4" href="#"> </a></h3>
                <p id="data-embed-4"> </p>
            </div>

        </div>

    </div>
</div>
{% endblock %}

{% block script %}
<script>
  $(document).ready(function (){
    var filenames = {{ filenames|safe }};

    $.each(filenames, function(i, a){
        var article_link = "{{ url_for('article', folder='Sales', filename='filename_holder') }}".replace('filename_holder', a)
        $.get(article_link, function(data){

            var shortened = $(data).find('#data-content').text().substring(0, 800);
            var title = $(data).find('#data-title').text();

            // Embed data into the homepage
            $("#data-embed-" + String(i+1)).text(shortened + '...');
            $("#link-" + String(i+1)).text(title);
          });
      $("#link-" + String(i+1)).attr("href", article_link)
    });
  });
</script>
{% endblock %}
